[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/hhdem/Feiyi-Theme.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/hhdem/Feiyi-Admin.git
